:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #ffffff;
  --header-background-color: #ffffff;
  --top-section-background-color: #2f303a;
  --card-border-color: #eeeeee;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icon-background-color: #f5f4fa;
  --color-item: #afb1b8;
}
