.about {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 15px;
  }
}

.about-title {
  display: none;
}

.about-list {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.about-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    width: 354px;
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    width: 270px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.about-subtitle {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 100px;
  background-color: var(--icon-background-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

.about-svg {
  width: 70px;
  height: 70px;
  fill: currentColor;
}
