.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-item {
  border: 1px solid #afb1b8;
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 210px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    flex-basis: calc(100% / 6 - 30px);
  }
  & > .clients-link:hover,
  & > .clients-link:focus {
    color: var(--accent-color);
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--color-item);
  border: 1px solid rgba(33, 150, 243, 0);

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: currentColor;
  &:hover {
    border: none;
  }
}
